{% extends 'softball/base.html' %}

{% block title %}Team: {{ team.name }}{% endblock %}

{% block body %}
<div class="page-header">
    {% if team.owned_by == user %}
    <p class="pull-right">
        {% if perms.softball.add_team %}
        <a class="btn btn-danger" href="{% url team_delete team_id=team.id %}">
            Delete Team</a>
        {% endif %}
        {% if perms.softball.change_team %}
        <a class="btn" href="{% url team_edit team_id=team.id %}">Edit Team</a>
        {% endif %}
    </p>
    {% endif %}
    <h1>
        {{ team.name }}
        <small>
            {{ record.0 }} win{{ record.0|pluralize }} /
            {{ record.1 }} loss{{ record.1|pluralize:"es" }}
        </small>
    </h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Players</h3>
        {% include 'softball/team/part.player_list.html' with players=team.players %}
        {% if team.owned_by == user and perms.softball.add_player %}
        <p>
            <a class="btn" href="{% url player_create %}?team_id={{ team.id }}&next={% url team_view team_id=team.id %}">
                Add Player</a>
        </p>
        {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Games</h3>
        {% include 'softball/team/part.game_list.html' %}
        {% if team.owned_by == user and perms.softball.add_game %}
        <p>
            <a class="btn" href="{% url game_create %}">Add Game</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
