{% extends 'softball/base.html' %}

{% block title %}Add Player{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Add Player</h1>
    </div>

<form action="" method="post" class="form-horizontal">
    <div class="row-fluid">
        <div class="span12">
            {% with player_form as form %}
                {% include "softball/include_form.html" %}
            {% endwith %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add Player</button>
                <a class="btn" href="
                    {% if next_url %}{{ next_url }}{% else %}{% url player_list %}{% endif %}">Cancel</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
